<html>
    <head>
        <title>LolMe</title>
    </head>
    <body>
        <div class="container">
            <fieldset>
                    <form action="/summoner-profile" method="POST">
                        <input type="text" name="summoner_name" placeholder="Enter summoner name here" class="summoner_name" required>
                        <input type="submit" value="Search" name="search_btn" class="search_button">
                    </form>
            </fieldset>
        </div>


        <%if(summoner_name !== null){ %>
            <h1><%= summoner_name %></h1>>
        <% } %> 

        <%if(error !== null){ %>
            <h1><%= error %></h1>>
        <% } %> 


    </body>
</html>