<html>
    <head>
        <title><%= summoner_name %> - LolMe Profile</title>
    </head>
    <body>
        <h1>Summoner Name: <%= summoner_name %> </h1>
        <h1>Summonder Id: <%= summoner_id %> </h1>
    </body>
</html>